@import "tailwindcss";

@font-face {
  font-family: Helios;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/heliosextlightc.otf") format("opentype");
}
@font-face {
  font-family: Helvetica;
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/HelveticaNeue-Medium.otf") format("opentype");
}

:root {
  --background: oklch(0.9851 0 0);
  --foreground: oklch(0.173 0 0);
  --secondary: oklch(0.8132 0.0972 64.74);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --font-sans: "Helios", sans-serif;
  --font-headings: "Helvetica", sans-serif;
}

@layer base {
  h1,
  h2,
  h4 {
    font-family: var(--font-headings);
  }
}
